@mixin root {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    width: calc(25% - 20px);
    // width: 290px;
    height: 120px;

    border-radius: 5px;
    border: 2px solid rgba(0, 255, 255, 0.3);

    padding: 10px;

    background: linear-gradient(90deg, rgba(0, 255, 255, 0.3), rgba(0, 100, 100, 0.1));
}

@mixin icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30%;
    height: 100%;

    font-family: var(--font-google-icons);
    > strong {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 60px;
        height: 60px;

        border-radius: 50%;

        font-size: 40px;
        color: aqua;
        font-weight: 400;

        background-color: rgba(255, 255, 255, 0.1);
    }
}

@mixin info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

    width: 70%;
    height: 100%;

    padding: 5px;

    > .value {
        display: block;
        width: 100%;
        height: auto;

        padding: 10px 0px;

        font-size: 23px;
        font-weight: bold;
        color: white;
    }
    > .label {
        display: block;
        width: 100%;
        height: auto;

        font-size: 15px;
    }
}

.statistical-card {
    @include root();
    > .icon {
        @include icon();
    }
    > .info {
        @include info();
    }
}
