.demo {
    display: flex;
    justify-content: center;
    align-items: center;
    //
    width: 400px;
    height: 400px;
    background-color: rgb(200, 200, 160);
    border-radius: 20px;
    //
    box-shadow: var(--lapis-box-shadow);
}
