.list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: auto;
    position: relative;
    z-index: 0;
    //
    width: 100%;
    height: calc(100% - var(--image-gallery-header-height));
    //
    padding-bottom: 60px;
}
