@mixin root {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    min-height: 40px;

    border-radius: 5px;

    padding: 5px 5px;

    &:nth-child(odd) {
        background-color: rgba(255, 255, 255, 0.05);
    }
}

@mixin name {
    display: block;
    overflow: hidden;
    width: calc(100% - 480px);
}

@mixin total {
    display: block;
    width: 140px;

    font-size: 16px;
    font-weight: 500;
    color: coral;
    text-align: right;
}

@mixin status {
    display: block;
    width: 150px;

    border-radius: 3px;

    padding: 5px;

    font-size: 14px;
    color: white;
    text-align: center;
}

@mixin created-at {
    display: block;
    width: 150px;
    font-size: 15px;
}

.item {
    @include root();
    > .name {
        @include name();
    }
    > .total {
        @include total();
    }
    > .status {
        @include status();
    }
    > .created-at {
        @include created-at();
    }
}
