.home-management-page {
    display: block;
    width: 100%;
    height: auto;
    > section {
        display: block;
        width: 90%;
        max-width: 1000px;
        height: auto;

        border-radius: 5px;
        border: thin solid rgba(255, 255, 255, 0.1);

        padding: 10px;
        margin: 20px auto;

        > .lapis-input {
            --text-color: white;
            --title-text-color: aqua;
            --underline-color: gray;
        }
    }
}
