.page.edit-product-card-page {
    display: block;
    width: 100%;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    > h2 {
        color: whitesmoke;
        margin-bottom: 20px;
        margin-top: 10px;
    }
}
