.description-demo {
    display: block;
    overflow-y: scroll;

    width: 100%;
    height: calc(100vh - 180px);

    border-radius: 5px;

    padding: 5px;

    margin-top: 20px;

    color: rgb(0, 10, 10);

    background-color: white;
}
