.edit-product-detail-area {
    display: block;
    width: 100%;
    height: auto;
    padding: 10px 30px;

    > section {
        display: block;

        width: 100%;
        height: auto;

        border: thin solid rgba(255, 255, 255, 0.1);
        border-radius: 5px;

        padding: 10px;

        margin: 30px 0px;

        > h2 {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            width: 100%;
            height: 50px;
            margin-bottom: 20px;

            color: aqua;
        }
    }
}
