@mixin root {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: auto;

    border-radius: 5px;
    border: thin solid rgba(255, 255, 255, 0.1);

    padding: 15px;
}

@mixin img {
    display: block;

    width: 100px;
    height: auto;
}

@mixin aside {
    display: block;

    width: calc(100% - 120px);
    height: auto;
}

@mixin title {
    display: block;

    width: 100%;
    height: auto;

    margin-bottom: 5px;
    > a {
        font-size: 1.2rem;
        color: aqua;
    }
}

@mixin id {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}

@mixin buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    height: 50px;

    > .btn {
        margin-left: 20px;
    }
}

.item {
    @include root();
    > img {
        @include img();
    }
    > aside {
        @include aside();

        > .title {
            @include title();
        }
        > .id {
            @include id();
        }
        > .buttons {
            @include buttons();
        }
    }
}
