.main {
    display: flex;
    justify-content: space-between;
    align-content: center;

    padding: 10px;

    > .left {
        display: block;
        width: 400px;
        height: auto;
    }

    > .right {
        display: block;
        width: calc(100% - 410px);
        height: auto;
    }
}
