@mixin root {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: auto;

    border-radius: 5px;

    padding: 10px;

    margin: 10px 0px;

    background-color: rgba(100, 255, 255, 0.05);
}

@mixin img {
    display: block;
    width: 100px;
    height: auto;
}

@mixin info {
    display: block;
    width: calc(100% - 110px);
    height: auto;
}

@mixin product-name {
    display: block;

    width: 100%;
    height: auto;
    // min-height: 55px;

    color: white;
    font-size: 1.1em;
}

@mixin below-product-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin left {
    display: block;
    width: calc(100% - 160px);
    height: auto;
}

@mixin item-info {
    display: block;

    width: 100%;
    height: auto;

    font-size: 0.9em;

    > .label {
        display: inline-block;
        min-width: 80px;
    }

    &.product-id {
        > .value {
            font-style: italic;
        }
    }

    &.price {
        > .value {
            color: lightcoral;
            font-size: 1.1em;
            &::after {
                content: '\20ab';
                position: relative;
                top: -0.3em;
                font-size: 0.9em;
            }
        }
    }
}

@mixin total {
    display: block;

    width: 150px;
    height: auto;

    color: lightcoral;
    font-size: 1.1em;
    text-align: right;

    &::after {
        content: '\20ab';
        position: relative;
        top: -0.3em;
        font-size: 0.9em;
    }
}

.item {
    @include root();
    > img {
        @include img();
    }
    > .info {
        @include info();
        > .product-name {
            @include product-name();
        }
        > .below-product-name {
            @include below-product-name();
            > .left {
                @include left();
                > .item-info {
                    @include item-info();
                }
            }
            > .total {
                @include total();
            }
        }
    }
}
