.is-promotion {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%;

    > label {
        padding-left: 5px;
        margin-right: 20px;

        color: aqua;
        font-size: 14px;
        font-weight: bold;
    }
}
