@mixin root {
    display: block;

    width: 100%;
    height: auto;

    padding-bottom: 20px;
}

@mixin ul {
    display: block;
    width: 100%;
    height: auto;

    > li {
        display: block;
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }
}

.list-products {
    @include root();
    > ul {
        @include ul();
    }
}
