.edit-product-card-area {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    //
    width: 100%;
    height: auto;

    > .demo {
        position: sticky;
        top: 100px;
    }
}
