@mixin root {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;

    width: 100%;
    height: 100%;
}

@mixin left {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;

    width: 240px;
    height: 100%;
}

@mixin right {
    display: block;

    width: calc(100% - 240px);
    height: 100%;

    > .page-container {
        display: block;
        overflow: auto;

        width: 100%;
        height: calc(100% - var(--header-height));
    }
}

.default-layout {
    @include root();
    > .left {
        @include left();
    }
    > .right {
        @include right();
    }
}
