@mixin variables {
}

@mixin root {
    display: block;
    position: relative;
    z-index: 2;
    width: 100%;
    height: 0px;
}

@mixin form {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 0px;
    border-radius: 0px 0px var(--image-gallery-border-radius) var(--image-gallery-border-radius);
    background-color: rgba(0, 5, 10, 0.8);
    transition: height 0.2s;
}

@mixin form-drag-enter {
    height: calc(var(--image-gallery-height) - var(--image-gallery-header-height));
}

@mixin background {
    display: block;
    position: relative;
    z-index: 1;
    //
    width: 100%;
    height: 0px;
    > .message {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: calc(var(--image-gallery-height) - var(--image-gallery-header-height));
        //
        background-repeat: no-repeat;
        background-image: url('./upload_image-1x1-1651449919915-0.webp');
        background-position: center;
        background-size: 150px auto;
        > span {
            position: relative;
            //
            top: 100px;
            //
            color: white;
            font-size: 20px;
            font-weight: 700;
        }
    }
}

@mixin input {
    display: block;
    position: relative;
    z-index: 2;
    opacity: 0;
    //
    width: 100%;
    height: 100%;
}

.form-upload {
    @include root();
    @include variables();
    > form {
        @include form();
        > .background {
            @include background();
        }
        > input {
            @include input();
        }
    }
}

.form-upload.display {
    > form {
        @include form-drag-enter();
    }
}
