// LARGE DESKTOP
$large-desktop-min: 1400px;
//
// SMALL DESKTOP
$small-desktop-max: calc($large-desktop-min - 1px);
$small-desktop-min: 1000px;
//
// TABLET
$tablet-max: calc($small-desktop-min - 1px);
$tablet-min: 600px;
//
// MOBILE
$mobile-max: calc($tablet-min - 1px);
//
// container
$small-desktop-container: calc($small-desktop-min - 50px);
$large-desktop-container: calc($large-desktop-min - 50px);
//
// GLOBAL CSS VARIABLE

$font-google-icons: 'Material Icons Outlined';
