body {
    // --font-family: 'Itim', cursive;
    --font-family: 'Inter', sans-serif;
    // --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --text-color: rgb(164, 182, 228);
    --text-color: #b3b3b3;
    --background-color: rgb(24, 25, 26);
    --highlight-background-color: rgba(0, 0, 0, 0);
    --lapis-color-1: rgb(116, 126, 228);
    --lapis-color-2: rgb(255, 121, 127);
    --lapis-color-3: rgb(65, 241, 189);
    --lapis-background-color-1: rgba(0, 30, 30, 0.1);

    --lapis-box-shadow: 5px 5px 10px black;
    --header-height: 70px;

    --font-google-icons: 'Material Icons Outlined';
}
