@font-face {
    font-family: 'Material Icons Outlined';
    src: url(https://fonts.gstatic.com/s/materialiconsoutlined/v101/gok-H7zzDkdnRel8-DQ6KAXJ69wP1tGnf4ZGhUce.woff2)
        format('woff2');
}

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
