.page .lapis-ui {
    --lapis-width: 100%;
    --lapis-highlight-color: var(--lapis-color-3);
    // --lapis-selection-background-color: var(--background-color);
    --lapis-selection-background-color: rgb(31, 45, 50);
    --lapis-text-color: var(--text-color);
    --lapis-message-width: 200px;
    margin-bottom: 15px;
}
