@mixin root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: calc(100vh - var(--header-height));
}

@mixin section {
    padding: 0px 10px;
}

@mixin statistical {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@mixin orders-earned {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    height: 320px;

    > aside {
        display: block;
        width: calc(50% - 10px);
        height: 100%;

        border-radius: 5px;
        border: thin solid rgba(255, 255, 255, 0.1);

        padding: 5px;

        > h2 {
            display: block;

            width: 100%;
            height: 50px;

            padding-left: 10px;

            color: aqua;
            line-height: 50px;
        }

        > .chart {
            display: block;
            width: 100%;
            height: calc(100% - 50px);
        }
    }
}

@mixin orders-recent-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    width: 100%;
    height: calc(100% - 460px);

    > aside {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        height: 100%;
        &.chart {
            height: 100%;
            width: 500px;

            padding: 20px;

            > .order-status-chart {
                height: 100%;
                width: 100%;
            }
        }
        &.orders-recent {
            width: calc(100% - 500px);

            border-radius: 5px;

            padding: 5px;

            background: linear-gradient(180deg, rgba(0, 100, 100, 0.4), rgba(0, 100, 100, 0));

            > .orders {
                height: calc(100% - 50px);

                &::-webkit-scrollbar {
                    width: 5px;
                }
            }
        }

        > h2 {
            display: block;

            width: 100%;
            height: 50px;

            padding-left: 10px;

            color: aqua;
            line-height: 50px;
        }
    }
}

.dashboard-area {
    @include root();
    > section {
        @include section();
        &.statistical {
            @include statistical();
        }
        &.orders-earned {
            @include orders-earned();
        }
        &.orders-recent-container {
            @include orders-recent-container();
        }
    }
}
