.category-tree {
    display: block;
    position: sticky;
    overflow-y: auto;

    top: 70px;
    width: 100%;
    height: calc(100vh - 160px);

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 3px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 3px;
    }
}
