.navigation {
    display: block;
    //
    width: 100%;
    height: auto;
    //
    > ul {
        display: block;
        width: 100%;
        height: auto;
        > li {
            display: block;
            width: 100%;
            height: 60px;
            //
            padding: 5px 10px;
            //
            list-style-type: none;
            > a {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                //
                width: 100%;
                height: 100%;
                //
                padding: 5px;
                border-radius: 5px;
                //
                color: inherit;
                text-decoration: none;
                //
                > strong {
                    font-family: 'Material Icons Outlined';
                    font-size: 30px;
                    font-weight: 400;
                    //
                    margin-right: 10px;
                }
                > span {
                    font-size: 16px;
                }
                &:hover {
                    color: white;
                    background-color: rgba(255, 255, 255, 0.1);
                }
            }
            &.selected {
                > a {
                    color: white;
                    background: linear-gradient(90deg, rgba(0, 100, 100, 1), rgba(0, 100, 100, 0.1));
                }
            }
        }
    }
}
