@mixin variables {
    --image-gallery-width: 1200px;
    --image-gallery-height: 650px;
    --image-gallery-header-height: 50px;
    --image-gallery-border-radius: 5px;
}

@mixin image-gallery-form {
    display: block;
    position: fixed;
    overflow: auto;
    resize: both;
    z-index: 1;
    //
    top: calc(100vh / 2 - var(--image-gallery-height) / 2);
    left: calc(100% / 2 - var(--image-gallery-width) / 2);
    //
    width: var(--image-gallery-width);
    min-width: 960px;
    height: var(--image-gallery-height);
    min-height: 400px;
    //
    border-radius: var(--image-gallery-border-radius);
    //
    background-color: rgba(10, 12, 15, 0.9);
    //
    box-shadow: 5px 5px 2px black, 7px 7px 10px black;
}

.image-gallery-form {
    @include variables();
    @include image-gallery-form();
}
