.order-wrap {
    display: flex;
    justify-content: space-between;
    align-content: center;

    padding: 20px;

    > .detail {
        display: block;
        width: calc(100% - 500px);

        padding: 10px;
        > div {
            display: flex;
            justify-content: center;
            align-items: center;
            position: sticky;
            overflow-y: auto;

            top: 40px;

            width: 100%;
            height: calc(100vh - 140px);

            > .chart {
                width: 90%;
                height: 90%;
            }
        }
    }
    > .list {
        display: block;
        width: 500px;
        min-height: 100vh;

        padding: 10px;
    }
}
