.app {
    --side-bar-width: 240px;
    //
    display: block;
    overflow: hidden;
    //
    width: 100vw;
    height: 100vh;
    //
    // background-image: url('./background_3.jpg');
    // background-repeat: no-repeat;
    // background-position: 0px 0px;
    // background-size: cover;
    // background-size: auto 137.8%;
    // background: linear-gradient(45deg, rgba(100, 0, 100, 0.5), rgba(0, 0, 100, 0.5));
}
