@mixin root {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-image: url('./background_3.jpg');
    background-size: cover;
    background-position: center;
}

@mixin form {
    display: block;

    width: 500px;
    height: auto;
    aspect-ratio: 1.61803398875;

    border-radius: 5px;

    background-color: rgba(0, 20, 30, 0.6);

    box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.2), inset -1px -1px 1px rgba(0, 0, 0, 1), 3px 3px 5px black,
        7px 7px 10px rgba(10, 10, 10, 0.5);
    backdrop-filter: blur(0.3px);
}

@mixin logo {
    display: block;
    width: 100%;
    height: 20%;
}

@mixin inputs {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;

    padding: 0px 20px;
}

@mixin input {
    --title-text-color: rgb(100, 255, 255);
    --text-color: rgba(200, 250, 255, 0.8);
    --underline-color: rgba(0, 100, 100, 0.5);

    width: 100%;
    margin: 20px;
}

@mixin buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: auto;

    margin-top: 25px;

    > input {
        display: block;

        width: 160px;
        height: auto;
        aspect-ratio: calc(1.61803398875 * 2);

        border: 2px solid rgb(100, 255, 255);
        outline: none;
        border-radius: 5px;

        color: rgb(100, 255, 255);
        font-weight: 500;
        font-size: 20px;

        background-color: transparent;
    }
}

.login-wrap {
    @include root();
    > form {
        @include form();
        > .logo {
            @include logo();
        }
        > .inputs {
            @include inputs();
            > .input {
                @include input();
            }
            > .buttons {
                @include buttons();
            }
        }
    }
}
