.description {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    align-content: center;

    > .demo {
        width: calc(50% - 25px);
        overflow-y: scroll;

        // height: auto;
        // max-height: calc(100vh - 180px);
    }
    .inputs {
        display: block;
        width: calc(50% - 25px);

        border-radius: 5px;
        border: thin solid rgba(255, 255, 255, 0.1);

        padding: 10px;
    }
}
