@mixin root {
    display: block;
    width: 100%;
    height: auto;

    user-select: none;
}

@mixin wrap {
    display: block;

    width: 100%;
    height: 60px;

    padding: 5px;

    > div {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        height: 100%;

        border-radius: 5px;
        border: thin solid rgba(255, 255, 255, 0.1);

        padding: 5px;
    }
}

@mixin image {
    display: block;

    width: auto;
    height: 100%;
    aspect-ratio: 1;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

@mixin label {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: calc(100% - 90px);
    height: 100%;

    cursor: pointer;

    &.selected,
    &:hover {
        color: aqua;
    }
}

@mixin dropdown {
    display: block;
    width: auto;
    height: 100%;
    aspect-ratio: 1;

    border: none;
    outline: none;

    font-family: var(--font-google-icons);
    font-size: 30px;
    color: white;

    background-color: transparent;
}

@mixin ul {
    display: block;
    width: 100%;
    height: auto;
    padding-left: 30px;
}

.category-item {
    @include root();
    > .wrap {
        @include wrap();
        > div {
            > .image {
                @include image();
            }
            > .label {
                @include label();
            }
            > .dropdown {
                @include dropdown();
            }
        }
    }
    > ul {
        @include ul();
    }
}
