@mixin root {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    height: auto;

    // orangered
    // orange
    // lightgreen
    // gray
    // red

    border: 2px solid gray;
    border-radius: 5px;

    padding: 10px;

    margin: 10px 0px;
}

@mixin info {
    display: block;

    width: calc(100% - 180px);
    height: auto;
}

@mixin customer-name {
    display: block;

    width: 100%;
    height: auto;

    padding: 5px 0px;

    color: aqua;
    font-size: 20px;
    font-weight: 500;

    cursor: pointer;
}

@mixin order-id {
    display: block;
    width: 100%;
    height: auto;

    padding: 3px 0px;

    font-size: 14px;
    color: gray;
}

@mixin address {
    display: block;

    width: 100%;
    min-height: 54px;

    padding: 3px 0px;
    font-size: 15px;
    line-height: 18px;
    font-style: italic;
}

@mixin total {
    display: block;

    width: 100%;
    height: auto;

    padding: 3px 0px;
    font-size: 18px;

    > strong {
        color: white;
    }
    > span {
        color: lightcoral;
        font-weight: 700;
        &::after {
            content: ' \20ab';
            position: relative;
            top: -0.5em;
            font-size: 0.8em;
        }
    }
}

@mixin time {
    display: block;
    width: 180px;
    height: auto;

    font-size: 15px;

    padding-left: 15px;

    > * {
        display: block;
        width: 100%;
        height: auto;

        padding: 5px 0px;
        > * {
            display: inline-block;
            width: 100%;
        }
        > strong {
            color: aqua;
        }
    }
}

.item {
    @include root();
    > .info {
        @include info();
        > .customer-name {
            @include customer-name();
        }
        > .order-id {
            @include order-id();
        }
        > .address {
            @include address();
        }
        > .total {
            @include total();
        }
    }
    > .time {
        @include time();
    }
}
