.editing-area {
    display: block;

    width: calc(100% - 500px);
    max-width: 800px;

    border-radius: 5px;
    border: thin solid rgba(255, 255, 255, 0.1);

    padding: 20px;

    // margin-bottom: 20px;

    .wrap {
        display: block;
        overflow: hidden;

        width: 100%;
        height: 0px;

        transition: height 0.5s ease-in-out 0.3s;

        &.display {
            height: 246px;
        }
    }

    > .wrap > .input,
    > .input {
        margin-bottom: 20px;
    }

    margin-bottom: 20px;
}
