@mixin root {
    display: block;

    width: 900px;
    height: auto;

    margin-left: auto;
    margin-right: auto;
}

.btn-add {
    display: block;
    position: sticky;
    z-index: 1;

    top: 0px;

    width: 100%;
    height: 80px;

    padding: 5px;
    background-color: var(--background-color);
    > button {
        display: block;

        width: 100%;
        height: 100%;

        border-radius: 5px;
        border: thin solid gray;

        color: white;
        font-size: 18px;

        background-color: transparent;
    }
}

.category-tree {
    @include root();
}
