@mixin variable {
    --background-image: url('./default.png');
    --aspect-ratio: 1/1;
}

@mixin root {
    display: block;
    overflow: hidden;

    width: auto;
    max-width: 540px;
    height: 180px;
    aspect-ratio: var(--aspect-ratio);

    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.2);

    margin: 3px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
}

@mixin root-selected {
    border-color: lightcoral;
}

@mixin layer-wrap {
    display: block;

    width: 100%;
    height: 0px;
}

@mixin layer {
    display: block;

    width: 100%;
    height: 180px;
    // aspect-ratio: var(--aspect-ratio);

    margin: 0px;
    padding: 0px;
}

@mixin btn {
    display: block;
    position: relative;
    z-index: 2;

    left: -60px;

    width: 40px;
    height: 40px;

    border: none;
    outline: none;

    margin: 3px;

    font-family: var(--font-google-icons);
    font-size: 30px;
    color: lightcoral;
    font-weight: bold;

    background-color: transparent;

    transition: left 0.3s;

    &.btn-copy-link {
        color: lightseagreen;
    }
}

@mixin btn-hover {
    left: 0px;
}

@mixin extension {
    display: block;
    position: relative;
    z-index: 2;

    top: 0px;
    left: calc(100% - 65px);

    width: 60px;
    height: 30px;

    border-radius: 3px;

    margin-top: 5px;
    margin-right: 5px;

    text-align: center;
    line-height: 30px;
    color: white;

    background-color: rgb(0, 100, 100);
}

@mixin image-name {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 3;

    top: calc(100% - 65px);

    width: 100%;
    height: 60px;

    border: none;
    outline: none;

    margin: 0px;

    background-color: rgba(0, 0, 0, 0.7);

    color: white;
    line-height: 20px;
    font-size: 16px;
    text-align: center;

    transition: top 0.3s;
}

@mixin selection-area {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.item {
    @include root();
    > .layer-wrap {
        @include layer-wrap();
        > .layer {
            @include layer();
            > .btn {
                @include btn();
            }
            > .extension {
                @include extension();
            }
            > .image-name {
                @include image-name();
            }
            > .selection-area {
                @include selection-area();
            }
        }
    }
}

.item.selected {
    @include root-selected();
}

.is-changing-name,
.item:hover {
    > .layer-wrap {
        > .layer {
            > .btn {
                @include btn-hover();
            }
        }
    }
}
