@mixin buttons-wrap {
    display: flex;
    justify-content: flex-end;
    position: sticky;

    top: 10px;

    width: 100%;
    height: 0px;
    > .button {
        position: relative;
        left: -30px;
    }
}

@mixin customer-name {
    display: block;

    width: 100%;
    height: auto;

    padding: 5px 0px;

    > strong {
        display: inline-block;
        min-width: 180px;
    }

    > span {
        color: aqua;
        font-size: 20px;
    }
}

@mixin item {
    display: block;

    width: 100%;
    height: auto;

    margin: 5px 0px;

    > strong {
        display: inline-block;
        min-width: 180px;
    }

    &.order-status {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}

@mixin total {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    bottom: 0px;

    width: 100%;
    height: 80px;

    border-radius: 5px;
    border: thin solid lightcoral;

    padding: 0px 10px;

    font-size: 1.2em;
    font-weight: 600;
    color: lightcoral;

    background-color: rgb(5, 30, 30);

    > .label {
        margin-right: 10px;
    }
    > .value {
        &::after {
            content: '\20ab';
            position: relative;
            top: -0.25em;
            font-size: 0.9em;
        }
    }
}

.order-detail {
    display: block;
    position: sticky;
    overflow-y: auto;

    top: 40px;

    width: 100%;
    height: calc(100vh - 140px);

    border: thin solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;

    padding: 20px;

    color: rgb(200, 220, 220);
    line-height: 1.5em;

    &::-webkit-scrollbar {
        width: 5px;
    }

    > * {
        margin: 5px 0px;
    }

    > .buttons-wrap {
        @include buttons-wrap();
    }

    > .customer-name {
        @include customer-name();
    }

    > .item {
        @include item();
    }

    > .total {
        @include total();
    }
}
