.information-and-promotions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: auto;

    > .inputs {
        display: block;

        width: calc(100% - 750px);
        height: auto;

        border-radius: 5px;
        border: thin solid rgba(255, 255, 255, 0.1);

        padding: 10px;
    }

    > .demo {
        width: 700px;
    }
}
