@mixin root {
    display: block;
    width: 100%;
    height: auto;
}

@mixin wrap {
    display: block;

    width: 100%;
    height: 80px;

    padding: 5px;

    > div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        border: thin solid gray;
        &.error {
            border-color: orangered;
        }
    }
}

@mixin icon-dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;

    width: 40px;
    height: 100%;
    aspect-ratio: 1;

    font-family: var(--font-google-icons);
    font-size: 30px;
    color: white;

    transform: rotate(-90deg);
    user-select: none;
    cursor: pointer;
    transition: transform 0.3s;

    &.display {
        opacity: 1;
    }

    &.display-children {
        transform: rotate(0deg);
        color: lightcoral;
    }
}

@mixin image {
    display: block;

    height: 90%;
    width: auto;
    aspect-ratio: 1;

    border-radius: 5px;

    background-color: lightblue;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}

@mixin input {
    display: block;
    width: calc(100% - 370px);
    height: 40px;

    border: thin solid;
    border-color: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    outline: none;

    padding-left: 5px;

    color: white;
    font-size: 18px;

    background-color: transparent;

    &:read-only {
        border-color: transparent;
    }
}

@mixin buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 210px;
    height: 100%;
    > .btn {
        opacity: 0;
    }
}

@mixin buttons-hover {
    > .btn {
        opacity: 1;
    }
}

@mixin input-index {
    display: block;

    height: 40px;
    width: 50px;

    border: thin solid;
    border-color: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    outline: none;

    color: white;
    font-size: 18px;
    text-align: center;

    background-color: transparent;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        display: none;
    }
}

@mixin ul {
    display: none;
    width: 100%;
    height: auto;

    padding-left: 40px;

    &.display {
        display: block;
    }
}

.category-item {
    @include root();
    > .wrap {
        @include wrap();
        > div {
            > .icon-dropdown {
                @include icon-dropdown();
            }
            > .image {
                @include image();
            }
            > input {
                @include input();
            }
            > .buttons {
                @include buttons();
                > .input-index {
                    @include input-index();
                }
            }
        }
    }
    > ul {
        @include ul();
    }
}

.category-item {
    > .wrap {
        > div:hover {
            > .buttons {
                @include buttons-hover();
            }
        }
    }
}
