* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 2px grey;
        border-radius: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background: rgba(0, 255, 255, 0.5);
        border-radius: 5px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 255, 255, 1);
    }
}

a.remove-underline {
    text-decoration: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body {
    display: block;
    overflow: hidden;
    //
    width: 100vw;
    height: 100vh;
    //
    font-family: var(--font-family);
    color: var(--text-color);
    font-size: 1.05rem;
    //
    background-color: var(--background-color);
    //
}

#root {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    //
    width: 100vw;
    min-height: 100vh;
}

// Global CSS
@import './styles/index.scss';
