@mixin root {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 3;

    width: 100%;
    height: var(--image-gallery-header-height);

    border-radius: var(--image-gallery-border-radius) var(--image-gallery-border-radius) 0px 0px;

    padding: 0px 5px;

    background-color: rgba(100, 120, 120, 0.2);

    user-select: none;
}

@mixin left-side {
    display: block;

    width: 160px;
    height: 40px;
    > .icon {
        display: block;
        float: left;
        //
        width: 40px;
        height: 40px;
        //
        background-image: url('./image-gallery-icon.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    > .text {
        display: block;
        float: left;
        //
        width: 120px;
        height: 40px;
        //
        text-align: center;
        line-height: 40px;
    }
}

@mixin message {
    display: block;

    width: 310px;
    height: 100%;

    > ul {
        display: block;
        overflow: hidden;

        width: 100%;
        height: 50px;

        border-radius: 5px;

        padding: 5px;

        background-color: rgba(0, 0, 0, 1);

        > li {
            display: block;

            width: 100%;
            height: 25px;

            line-height: 25px;
            font-size: 15px;
        }

        transition: linear height 0.3s;
    }

    &:hover {
        > ul {
            height: 260px;
        }
    }
}

@mixin right-side {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100%;
}

@mixin status {
    display: block;

    height: 100%;
    width: 300px;

    > .item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 50%;

        font-size: 15px;

        > span {
            &:nth-child(1) {
                width: 130px;
            }
        }
    }
}

@mixin buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100%;
    width: 150px;
}

.header {
    @include root();
    > .left-side {
        @include left-side();
    }
    > .message {
        @include message();
    }
    > .right-side {
        @include right-side();
        > .status {
            @include status();
        }
        > .buttons {
            @include buttons();
        }
    }
}
