.product-detail-image-demo {
    display: flex;
    justify-content: center;
    align-items: center;
    //
    width: 500px;
    height: 600px;
    //
    padding: 10px;
    border-radius: 5px;
    //
    background-color: white;
    //
    box-shadow: var(--lapis-box-shadow);
}
