.product-images-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: auto;

    > .demo {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 550px;
        height: auto;
    }
    > .inputs {
        display: block;
        width: calc(100% - 600px);
        height: auto;

        border-radius: 5px;
        border: thin solid rgba(255, 255, 255, 0.1);

        padding: 10px;
    }
}
