.header {
    display: block;
    position: relative;
    z-index: 1;

    width: 100%;
    height: var(--header-height);

    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.05);
    // search
    > div:nth-child(1) {
        display: flex;
        justify-content: center;
        align-items: center;
        float: left;
        //
        width: calc(100% - 300px);
        height: 100%;
        //
        padding-left: 10px;
        padding-right: 10px;
    }
    // include setting button,
    > div:nth-child(2) {
        display: flex;
        justify-content: center;
        align-items: center;
        float: left;
        //
        width: 300px;
        height: 100%;

        > .button {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}
